!!  __  __                                            
!!  \ \/ /_ __ ___  ___  ___  _   _ _ __ ___ ___  ___ 
!!   \  /| '__/ _ \/ __|/ _ \| | | | '__/ __/ _ \/ __|
!! _ /  \| | |  __/\__ \ (_) | |_| | | | (_|  __/\__ \
!!(_)_/\_\_|  \___||___/\___/ \__,_|_|  \___\___||___/
!!
!! to enable changes type `xrdb -load .Xresources` and restart URxvt

*foreground:		#e0e0e0
*foreground_bold:	#eeeeee
URxvt.cursor:		#a8a19f
URxvt.intensityStyles:  false
URxvt.geometry:		145x45
URxvt.depth:		32
URxvt.background:	[80]#040404

!! black
*color0:		#040404
*color8:		#696969
!! red
*color1:		#fa4646
*color9:		#d13b3b
!! green
*color2:		#55fa55
*color10:		#44c744
!! yellow
*color3:		#fafa46
*color11:		#d1d13b
!! blue
*color4:		#466dfa
*color12:		#3552bd
!! magenta
*color5:		#f746fa
*color13:		#c738c9
!! cyan
*color6:		#46e8fa
*color14:		#39bdcc
!! white
*color7:		#eeeeee
*color15:		#e0e0e0

!! fonts
URxvt.font:		xft:Cozette:style=Regular:pixelsize=9
URxvt.boldFont:
!!URxvt.font:		xft:Spleen:style=Regular:pixelsize=12, xft:Cozette:style=Regular:pixelsize=9
!!URxvt.boldFont:		xft:Tamzen:style=Bold:pixelsize=9

URxvt.scrollBar:	false
*.cursorColor:		magenta
*.cursorBlink:		true

!! URxvt Functions
URxvt.perl-ext-common:	resize-font,
URxvt.resize-font.step: 4 
URxvt.keysym.C-minus:	resize-font:smaller
URxvt.keysym.C-equal:	resize-font:bigger
URxvt.keysym.C-0:	resize-font:reset

URxvt.iso14755:		false
URxvt.iso14755_52:	false
