!!  __  __                                            
!!  \ \/ /_ __ ___  ___  ___  _   _ _ __ ___ ___  ___ 
!!   \  /| '__/ _ \/ __|/ _ \| | | | '__/ __/ _ \/ __|
!! _ /  \| | |  __/\__ \ (_) | |_| | | | (_|  __/\__ \
!!(_)_/\_\_|  \___||___/\___/ \__,_|_|  \___\___||___/
!!
!! to enable changes type `xrdb -load .Xresources` and restart URxvt

!! Define Colors
!#define FOREGROUND #c2c2b0
#define BACKGROUND [85]#000000

!!black
#define COLOR0  #000000
#define COLOR8  #444444
!!red
#define COLOR1  #ed1b23
#define COLOR9  #d13b3b
!!green
#define COLOR2  #55fa55
#define COLOR10 #44c744
!!yellow
#define COLOR3  #fafa46
#define COLOR11 #d1d13b
!!blue
#define COLOR4  #466dfa
#define COLOR12 #3552bd
!!magenta
#define COLOR5  #f746fa
#define COLOR13 #c738c9
!!cyan
#define COLOR6  #46e8fa
#define COLOR14 #39bdcc 
!!white
#define COLOR7  #ffffff
#define COLOR15 #bebbb8

!! Set Colors
*color0:		COLOR0
*color8:		COLOR8
*color1:		COLOR1
*color9:		COLOR9
*color2:		COLOR2
*color10:		COLOR10
*color3:		COLOR3
*color11:		COLOR11
*color4:		COLOR4
*color12:		COLOR12
*color5:		COLOR5
*color13:		COLOR13
*color6:		COLOR6
*color14:		COLOR14
*color7:		COLOR7
*color15:		COLOR15

!! hiDPI
!Xft.dpi:		96
!Xft.dpi:		135
!Xft.dpi:		144
Xft.dpi:		168
!Xft.dpi:		244

!! Cursors
!Xcursor.size:		16
!Xcursor.size:		32
Xcursor.size:		48

*.foreground:		COLOR7
*.foreground_bold:	COLOR15
URxvt.background:	BACKGROUND
*.internalBorder:	10
*.cursorColor:		COLOR5
*.cursorBlink:		true

!! Fonts
*.font:			xft:Hack Nerd Font Mono:antialias=true:hinting=true:size=10, \
			xft:Symbola:antialias=true:hinting=true:size=10
*.boldFont:

!! URxvt
URxvt.depth:		32
URxvt.scrollBar:	false
URxvt.intensityStyles:  false
!URxvt.geometry:		145x45

!! URxvt extensions
URxvt.perl-ext-common:	default,matcher,resize-font,config-reload
URxvt.matcher.button:	Ctrl-1
urxvt.urlLauncher:	/usr/bin/librewolf
URxvt.resize-font.step: 1 
URxvt.keysym.C-minus:	resize-font:smaller
URxvt.keysym.C-equal:	resize-font:bigger
URxvt.keysym.C-0:	resize-font:reset

URxvt.iso14755:		false
URxvt.iso14755_52:	false
